@tailwind base;
@tailwind components;
@tailwind utilities;

.testNoClick {
  pointer-events: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
  /* padding: 3rem; */
  padding-left: 8rem;
  padding-right: 8rem;
  /* padding-bottom: 2rem; */
  height: 100vh;
  /* min-height: 100vh; */
  /* z-index: 1; */
  position: relative;
}

.preloadedBackground {
  height: 100vh;
  width: 100vw;
  position: fixed;
  /* background: url('../public/purple3d.jpg'); */
  /* background-size: 100% 100vh; */
  z-index: -1;
}

.fullscreen {
  height: 100vh;
  width: 100%;
}

.contentContainer {
  position: relative;
  box-sizing: border-box;
  /* max-height: 75%; */
  overflow-y: auto;
}

.inputContainer {
  margin-top: 8rem;
  max-height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.5s ease-in-out;
}

.mainInput {
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%;
  min-height: 4rem;
  border: 3px solid #8b6cc2;
  /* border: 3px solid #1a1a1a; */
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(262, 53%, 54%);
  /* color: #1a1a1a; */
  background: #fff8e8;
  text-align: center;
  padding-right: 8rem;
}

.glass {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: flex-end;
  /* justify-content: space-between; */

  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* From https://css.glass */
  background: rgba(255, 248, 232, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.profileCircle {
  /* From https://css.glass */
  background: rgba(255, 248, 232, 0.33);
  /* border-radius: 25%; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.transparentButton {
  background: rgba(255, 248, 232, 0.33);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 3px;
  /* border-radius: 50%; */
  /* background: transparent; */
  /* border: none; */
}

.rounded {
  border-radius: 50%;
}

.userEmail {
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: 600;
  color: hsl(262, 53%, 54%);
  /* color: #1a1a1a; */
}

.input:focus {
  /* border-color: #eaa7ff; */
  border-color: black;
}

.buttonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.inputButton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  background: transparent;
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  /* color: hsl(262, 53%, 54%); */
  color: #1a1a1a;
  border: 2px solid #eaa7ff;
  border-radius: 0.5rem;
  height: 3rem;
  width: 7rem;
  top: -3.5rem;
  right: 0.5rem;
}

.mainInput::placeholder {
  /* color: #fff; */
  color: hsl(262, 42%, 62%);
  /* color: #505050; */
}

.mainInput:disabled {
  background-color: lightgray;
}

.container {
  /* max-width: 1024px; */
  /* margin: auto; */
  /* height: 500px;
  padding: 50px; */
  position: relative;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dropdown {
  /* min-width: 100px; */
}
.dropdown-btn {
  font-size: 16px;
  /* background: white; */
  /* border: 1px solid black; */
  /* border-radius: 4px; */
  /* height: 40px; */
  width: auto;
  /* padding: 0 30px; */
  cursor: pointer;
}
.dropdown-btn:hover,
.dropdown-btn:focus {
  /* background: #f2f2f2; */
  box-shadow: rgba(255, 255, 255, 0.5) 0px 39px 56px -36px inset,
    rgba(199, 128, 255, 0.3) 0px 1px 4px 0px inset,
    rgba(199, 128, 255, 0.3) 0px -82px 68px -64px inset,
    rgba(199, 128, 255, 0.3) 0px 98px 100px -48px inset,
    rgba(199, 128, 255, 0.3) 0px 4px 18px 0px inset,
    rgba(199, 128, 255, 0.2) 0px 1px 40px 0px inset,
    rgba(199, 128, 255, 0.2) 0px 1px 40px 0px inset;
}

.dropdown-items {
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */

  /* width: 200px; */
  position: absolute;
  right: 0;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border: 1px solid black;
  padding: 8px 15px;
  border-radius: 4px;
  justify-content: flex-start;
  /* From https://css.glass */
  background: rgba(255, 248, 232, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.dropdown-item {
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}
.dropdown-item:not(first-child) {
  padding-top: 7px;
  padding-bottom: 7px;
}
.dropdown-item:not(last-child) {
  padding-top: 7px;
  padding-bottom: 7px;
}

.isVisible {
  visibility: visible;
}
.isHidden {
  visibility: hidden;
}

.box {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* height: 100vh; */
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.box span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
}
@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px #ccc, 0 2px #ccc, 0 3px #ccc, 0 4px #ccc, 0 5px #ccc,
      0 6px #ccc, 0 7px #ccc, 0 8px #ccc, 0 9px #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
.box span:nth-child(2) {
  animation-delay: 0.1s;
}
.box span:nth-child(3) {
  animation-delay: 0.2s;
}
.box span:nth-child(4) {
  animation-delay: 0.3s;
}
.box span:nth-child(5) {
  animation-delay: 0.4s;
}

@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
  }

  .mainInput {
    padding-right: 55px;
    font-size: 1rem;
    font-weight: 600;
  }

  .container {
    padding: 0;
  }

  .inputContainer {
    align-self: flex-end;
  }

  .glass {
    margin: 0;
    padding: 5px;
    padding-bottom: 8px;
  }

  .inputButton {
    padding: 0;
    padding-left: 3px;
    padding-right: 5px;
    font-size: 0;
    width: auto;
  }
  .contentContainer {
    z-index: 10;
    height: 100%;
  }
}
